<div class="container text-white">
    <h2>Usuario: {{user}}</h2>
    <h3>Puedes acceder a la seccion Admin<h3>
    <a href="/login/logout">
        <input type="button" class="btn btn-danger" value="Logout">
    </a>
</div>